<div class="header">
	<h1>Dashboard</h1>
</div>

<a id = "switch_view" class="button">
	<span>View Data</span>
</a>
<div class = "panel1">
	<div class = "front">
		<a id = "save_image" class="button">
			<span>Save as Image</span>
		</a>
	</div>
	<div class = "back">
		<a id = "download_data" class="button">
			<span>Download data</span>
		</a>
	</div>
</div>


<div class = "panel2">
	<div class = "front">
		<%= content_tag "div", id: "graphCanvas", data: {temperatures: @temperatureDataset, humidities: @humidityDataset, dates: @dates, times: @times, roomnumber: @roomNumber, temppoly6: @tempPoly6, temppoly7: @tempPoly7, temppoly8: @tempPoly8, humidpoly6: @humidPoly6, humidpoly7: @humidPoly7, humidpoly8: @humidPoly8 } do %><% end %>
		<canvas id="temperatureChart"></canvas>
	</div>
	<div class = "back">
		<table id = "datatable" class = "datatable">
		  <tr>
		    <th>Date</th>
		    <th>Time</th>
		    <th>Temperature (°C)</th>
		    <th>Humidity (%)</th>
		  </tr>
		  <% @combinedDataset.each do |date, time, temperature, humidity| %>
		  <tr>
		    <td><%= date %></td>
		    <td><%= time %></td>
		    <td><%= temperature %></td>
		    <td><%= humidity %></td>
		  </tr>
		  <%end %>
		</table>
	</div>
</div>
<div class = "footer">
	<p>Calum McGuicken 2019</p>
</div>